.result {
  padding: 20px;
  height: 100vh;
  width: 100vw;
  background-color: red;
}
.result__graphContainer {
  background-color: #fff;
  margin-top: 50px;
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  font-size: 30px !important;
}
/* 
.result__graphContainer canvas {
  height: 100% !important;
  width: 50% !important;
} */

@media (max-width: 420px) {
  .result__graphContainer {
    width: 100%;
  }
}
