.result {
    padding: 20px;
    background-color: rgb(82, 82, 82);
    height: 100vh;
    width: 100vw;
}
.result__graphContainer {
    background-color: white;
    width: 300pc;
    height: 400px;
}

.result__graphContainer canvas {
    height: 50% !important;
    width: 50% !important;
}